$bgcol:#4527a0;

.container {
    padding: 10px 10px 10px 10px;
    background: #fff;
}

header {
    .header {
        height: 200px;
        background: url("../img/960_logo.png") 50% 50%;
        background-size: 30%;
        background-repeat: no-repeat;
        background-color: $bgcol;
    }
}

article {
    .block {
        height: 100px;
        background: $bgcol;
    }
    .fourth {
        margin: 0
    }
}